# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbol files
*.pdb

# IDE-specific
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history/

# Artifacts
.artifacts/
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Firebase
.firebase/
firebase-debug.log*
