# Flutter-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Web-specific
build/web/

# IDE-specific
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Artifacts
.artifacts/

# Logs
logs
*.log

# Firebase
.firebase/
firebase-debug.log*

# OS-specific
.DS_Store
Thumbs.db
